/* 
    * {
      margin: 0;
      box-sizing: border-box;
    }

    a {
      text-decoration: none;
      color: rgb(234, 8, 8);
    } */

   
    .left {
      position: absolute;
      margin-top: 5px;
      margin-right: 50%;
      margin-left: 20px;
      margin-bottom: auto;
      background: #fbfafa;
      padding: 30px 200px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
      border-radius: 10px;
    }

   /* label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    } */

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 100px;
      border: 1px solid #262424;
      border-radius: 30px;
    }
    .right{
      position: relative;
      margin-left: 50%;
      background-color: rgb(250, 246, 246);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
      width: 50%;
      border-radius: 10px;
    }